/* .border {
    border: 1px solid #f00;
} */

::-webkit-scrollbar {
    display: none;
}


/* ---------- close ---------- */
.close_btn {
    position: absolute;
}

.a_designer {
    width: 100%;
}



/* ---------- identity ---------- */
.identity {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.identity a {
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
}
.identity_img {
    width: 100%;
    height: 100%;
}



/* ---------- des ---------- */
.des_wrap_inner {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.des_logo {
    position: absolute;
}
.des_wrap_inner ul:nth-child(1) {
    top: 0;
    left: 0;
}
.des_wrap_inner ul:nth-child(3) {
    top: 0;
    right: 0;
}

.a_designer_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.des_identity_sentence {
    text-wrap: wrap;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
}

.des_identity_sentence .keyword {
    color: var(--green);
}

.des_identity_sentence .name {
    color: var(--pink);
}

.des_designer_info {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.30);
    letter-spacing: 0%;
}



/* ---------- projects ---------- */
.project_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.project_img {
    position: relative;
    width: 100%;
    display: flex;
}
.project_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hover-gra {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.a_project:nth-child(odd) .hover-gra {
    background: linear-gradient(180deg, rgba(255, 160, 224, 0) 70%, rgba(255, 160, 224, 0.56) 100%);
}
.a_project:nth-child(even) .hover-gra {
    background: linear-gradient(180deg, rgba(77, 255, 157, 0) 70%, rgba(77, 255, 157, 0.56) 100%);

}

.project_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    flex-direction: column;
}

.project_info .project_name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}



/*  ---------- hover 효과 ---------- */
.hover-gra {
  transition: opacity .4s cubic-bezier(.8,0,.2,1);
}
.hover-gra:hover {
  opacity: 1;
}



/*  ---------- 반응형 ---------- */
/* 데스크탑 */
@media (min-width: 1200px) {

    .wrap {
        padding: 10vh 0 10vh 0;
    }
    


    /* ---------- close ---------- */
    .close_btn {
        top: 80px;
        right: 80px;
    }



    /* ---------- identity ---------- */
    .identity {
        padding: 0 360px 90px;
        gap: 50px;
    }
    .identity a {
        width: 180px;
        height: 180px;
    }



    /* ---------- des ---------- */
    .des_wrap_inner {
        max-width: 1200px;
        padding: 0 64px 0;
        align-items: end;
    }

    .des_logo {
        height: 128px;
    }

    .a_designer_section {
        gap: 30px;
    }

    .des_identity_sentence {
        width: calc(100%-50px*2);
        font-size: 40px;
    }

    .des_designer_info {
        gap: 10px;
        font-weight: 400;
        font-size: 12px;
    }



    /* ---------- projects ---------- */
    .project_group {
        width: 100%;
        gap: 120px;
    }
    .a_project {
        width: 320px;
    }
    
    .project_img {
        height: 100%;
        aspect-ratio: 4 / 3;
        margin-bottom: 22px;
    }

    .a_project:nth-child(odd) .hover-gra {
        border: 1px solid var(--pink);
    }
    .a_project:nth-child(even) .hover-gra {
        border: 1px solid var(--green);

    }

    .project_name {
        font-size: 26px;
        font-weight: 600;
    }
    .project_designer_name {
        font-size: 16px;
        font-weight: 400;
    }
}



/* 태블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
    }


    
    /* ---------- close ---------- */
    .close_btn {
        top: 96px;
        right: 40px;
    }



    /* ---------- identity ---------- */
    .identity {
        padding: 105px 48px 84px;
        gap: 60px;
    }
    .identity a {
        width: 200px;
        height: 200px;
    }



    /* ---------- des ---------- */
    .des_wrap_inner {
        padding: 0 64px 0;
        align-items: start;
    }

    .des_logo {
        display: none;
    }

    .a_designer_section {
        gap: 30px;
    }

    .des_identity_sentence {
        width: calc(100%-40px*2);
        font-size: 38px;
    }

    .des_designer_info {
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
    }



    /* ---------- project_group ---------- */
    .project_group {
        width: 100%;
        justify-content: space-between;
        gap: 60px;
        padding: 0 94px;
        margin-bottom: 200px;
    }
    .a_project {
        width: calc(100%/2 - 60px);
    }

    .project_img {
        aspect-ratio: 4 / 3;
        margin-bottom: 20px;
    }

    .a_project:nth-child(odd) .hover-gra {
        border: 0.5px solid var(--pink);
    }
    .a_project:nth-child(even) .hover-gra {
        border: 0.5px solid var(--green);

    }

    .project_name {
        font-size: 14px;
        font-weight: 600;
    }
    .project_designer_name {
        font-size: 11px;
        font-weight: 400;
    }
}



/* 모바일 */
@media (max-width: 767px) {
    .wrap {
        width: 100%;
    }


    
    /* ---------- close ---------- */
    .close_btn {
        width: 24px;
        height: 24px;
        top: 40px;
        right: 40px;
    }



    /* ---------- identity ---------- */
    .identity {
        padding: 80px 48px 60px;
        gap: 60px;
    }
    .identity a {
        width: 100px;
        height: 100px;
    }



    /* ---------- des ---------- */
    .des_wrap_inner {
        padding: 0 20px 0;
        align-items: start;
    }

    .des_logo {
        display: none;
    }

    .a_designer_section {
        gap: 10px;
    }

    .des_identity_sentence {
        width: calc(100%-20px*2);
        font-size: 16x;
    }

    .des_designer_info {
        gap: 4px;
        font-weight: 400;
        font-size: 7px;
    }



    /* ---------- project_group ---------- */
    .project_group {
        width: 100%;
        justify-content: space-between;
        gap: 60px;
        padding: 0 30px;
        margin-bottom: 100px;
    }
    .a_project {
        width: calc(100%);
    }

    .project_img {
        aspect-ratio: 4 / 3;
        margin-bottom: 20px;
    }

    .a_project:nth-child(odd) .hover-gra {
        border: 0.5px solid var(--pink);
    }
    .a_project:nth-child(even) .hover-gra {
        border: 0.5px solid var(--green);

    }

    .project_name {
        font-size: 14px;
        font-weight: 600;
    }
    .project_designer_name {
        font-size: 11px;
        font-weight: 400;
    }
}