/* .border {
    border: 1px solid #f00;
} */

::-webkit-scrollbar {
    display: none;
}

.wrap {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
}
section {
    width: 100%;
    position: relative;
}

header {
    background: rgba(0, 0, 0, 0);
    mix-blend-mode: difference;
}



/* ---------- project-des-group ---------- */
.project-des-group {
    width: 100%;
}



/* ---------- thumnail ---------- */
.thumnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
    overflow: hidden;
}
.thumnail-gra {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.50) 50%, black 77%);
}
.thumnail img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}



/* ---------- project-des-wrap ---------- */
.project-des-wrap {
    width: 100%;
    height: 100%;
    z-index: 1;
}



/* ---------- tag-group ---------- */
.tag-group {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: start;
    align-items: center;
}
.tag {
    font-weight: 500;
    border: 0.5px solid var(--white);
    border-radius: 40px;
}



/* ---------- project-des ---------- */
.project-title {
    font-weight: 700;
}
.project-subtitle {
    font-weight: 800;
}
.project-text {
    font-weight: 400;
}



/* ---------- designers ---------- */
.designers {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.designers a {
    display: flex;
}
.designers .name {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.designers .img-box {
    border-radius: 100%;
    overflow: hidden;
}
.designers .img-box img {
    object-fit: cover;
}



/* ---------- scroll ---------- */
.scroll {
    gap: 8px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Panchang-Medium';
    line-height: 170%;
    font-size: 14px;
    color: var(--white);
    animation-name: updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
        opacity: 40%;
    }

    50% {
        transform: translateY(0);
        opacity: 100%;
    }
    
    100% {        
        transform: translateY(-20px);
        opacity: 40%;
    }
}

.scroll .img-box {
    width: 28px;
    height: 11px;
}



/*  ---------- .video-image-group  ---------- */
.video-image-group {
    display: flex;
    flex-direction: column;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
}




/*  ---------- 반응형 ---------- */
/* 데스크탑 */
@media (min-width: 1200px) {
    .wrap {
        max-width: 1920px;
        min-width: 1524px;
    }



    /* ---------- project-des-group ---------- */
    .project-des-group {
        top: -80px;
    }

    /* ---------- project-des-wrap ---------- */
    .project-des-wrap {
        padding: 190px 250px 38px;
    }



    /* ---------- tag-group ---------- */
    .tag {
        height: 40px;
        padding: 6px 28px 6px;
        font-size: 16px;
        margin-bottom: 86px;
    }



    /* ---------- project-des ---------- */
    .project-des {
        margin-bottom: 50px;
    }

    .project-title {
        font-size: 120px;
        padding-bottom: 12px;
    }
    .project-subtitle {
        max-width: 710px;
        min-width: 400px;
        font-size: 24px;
        padding-bottom: 16px;
    }
    .project-text {
        max-width: 710px;
        font-size: 18px;
    }



    /* ---------- designers ---------- */
    .designers {
        gap: 40px;
        margin-bottom: 50px;
    }

    .designers a {
        gap: 20px;
    }
    .designers .name {
        gap: -6px;
        font-size: 18px;
    }

    .designers .img-box {
        width: 100px;
        height: 100px;
        border: 1px solid var(--white);
    }



    /*  ---------- video-image-group ---------- */
    .video-image-group {
        gap: 250px;
        padding: 250px 250px 450px;
    }
}




/* 태블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
    }



    /* ---------- project-des-group ---------- */
    .project-des-group {
        top: -86px;
    }

    /* ---------- project-des-wrap ---------- */
    .project-des-wrap {
        padding: 166px 40px 0;
    }



    /* ---------- tag-group ---------- */
    .tag {
        height: 30px; 
        padding: 3px 22px;
        font-size: 12px;
        margin-bottom: 80px;
    }



    /* ---------- project-des ---------- */
    .project-des {
        margin-bottom: 80px;
    }

    .project-title {
        font-size: 50px;
        padding-bottom: 30px;
    }
    .project-subtitle {
        width: 100%;
        font-size: 18px;
        padding-bottom: 16px;
    }
    .project-text {
        width: 100%;
        font-size: 16px;
    }



    /* ---------- designers ---------- */
    .designers {
        gap: 30px;
        margin-bottom: 80px;
    }

    .designers a {
        gap: 15px;
    }
    .designers .name {
        gap: 0;
        font-size: 16px;
    }

    .designers .img-box {
        width: 80px;
        height: 80px;
        border: 1px solid var(--white);
    }

    

    /*  ---------- video-image-group ---------- */
    .video-image-group {
        display: flex;
        flex-direction: column;
        gap: 160px;
        padding: 200px 40px 200px;
    }
}



/* 모바일 */
@media (max-width: 767px) {
    .wrap {
        width: 100%;
    }
    


    /* ---------- project-des-group ---------- */
    .project-des-group {
        /* top: -42px; 사랑이가 한 작업 */
        top: -86px;
    }

    /* ---------- project-des-wrap ---------- */
    .project-des-wrap {
        padding: 92px 20px 0;
    }



    /* ---------- tag-group ---------- */
    .tag {
        height: 30px; 
        padding: 3px 22px;
        font-size: 12px;
        margin-bottom: 80px;
    }



    /* ---------- project-des ---------- */
    .project-des {
        margin-bottom: 40px;
    }

    .project-title {
        font-size: 30px;
        padding-bottom: 24px;
    }
    .project-subtitle {
        width: 100%;
        font-size: 14px;
        padding-bottom: 12px;
    }
    .project-text {
        width: 100%;
        font-size: 12px;
    }



    /* ---------- designers ---------- */
    .designers {
        gap: 20px;
        margin-bottom: 40px;
    }

    .designers a {
        gap: 10px;
    }
    .designers .name {
        gap: -2px;
        font-size: 10px;
    }

    .designers .img-box {
        width: 50px;
        height: 50px;
        border: 0.5px solid var(--white);
    }


    
    /*  ---------- video-image-group ---------- */
    .video-image-group {
        gap: 60px;
        padding: 100px 20px 100px;
    }
}