/* .border {
    border: 1px solid #f00;
} */

.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}



/* ---------- menus ---------- */
.menus {
    width: 100%;
    height: 100%;
    gap: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
.menu {
    font-family: 'Panchang-Regular';
    font-size: 7vw;
    color: #fff;
}